# Integration

In [1]:
import pandas as pd

profiles = pd.read_csv('../datasets/clean-profiles.csv')
financials = pd.read_csv('../datasets/clean-financials.csv')
overviews = pd.read_csv('../datasets/clean-overviews.csv')

### Profiles

In [2]:
profiles.head(2)

,name,tagline,website,summary,concepts,keywords,sentiment,articles
0,Valera Health,"Your Path to Wellness, Just a Click Away",https://valerahealth.com,"Valera Health, based in New York, is a mental ...",['Comprehensive mental healthcare services for...,"['Mental Health Care', 'Telemedicine', 'Health...","{'sentimentScore': 100, 'cntPositive': 15, 'cn...",[{'contentId': 'ab325015a7bbae7beefc4833b73696...
1,Bestow,"Protecting Life, Simplified",https://bestow.com,Bestow is a Texas-based company that offers fa...,['Offers fast and affordable term life insuran...,"['Insurance', 'Technology', 'Healthcare', 'Fin...","{'sentimentScore': 90, 'cntPositive': 48, 'cnt...",[{'contentId': 'b633176d-6378-46d0-9b15-d2b611...

### Financials

In [3]:
financials.head(2)

,name,website,investor_count,funding_count,funding_last_type,funding_last_date,valuation_date,revenue_year,funding_total_numeric_millions,funding_last_numeric_millions,valuation_numeric_millions,revenue_total_numeric_millions
0,Valera Health,https://valerahealth.com,20,8,Series B - II,2024-04-09,NaN,NaN,76.32,9.12,NaN,NaN
1,Bestow,https://bestow.com,8,5,Series C,2020-12-16,NaN,NaN,138.10,70.00,NaN,NaN

### Overviews

In [4]:
overviews.head(2)

,name,website,cb_description,year_founded,mosaic_change,city,region,country,postal
0,Valera Health,https://valerahealth.com,Valera Health operates as a tele-mental health...,2015.0,-117.0,Brooklyn,New York,United States,11249
1,Bestow,https://bestow.com,Bestow operates as an insurance technology com...,2017.0,-119.0,Dallas,Texas,United States,75226

### First inner join Profiles and Financials

For all datasets, we will be joining them on the column `website`.

In [8]:
profiles_financials = pd.merge(profiles, financials, on='website', how='inner')
profiles_financials.head(2)

,name_x,tagline,website,summary,concepts,keywords,sentiment,articles,name_y,investor_count,funding_count,funding_last_type,funding_last_date,valuation_date,revenue_year,funding_total_numeric_millions,funding_last_numeric_millions,valuation_numeric_millions,revenue_total_numeric_millions
0,Valera Health,"Your Path to Wellness, Just a Click Away",https://valerahealth.com,"Valera Health, based in New York, is a mental ...",['Comprehensive mental healthcare services for...,"['Mental Health Care', 'Telemedicine', 'Health...","{'sentimentScore': 100, 'cntPositive': 15, 'cn...",[{'contentId': 'ab325015a7bbae7beefc4833b73696...,Valera Health,20,8,Series B - II,2024-04-09,NaN,NaN,76.32,9.12,NaN,NaN
1,Bestow,"Protecting Life, Simplified",https://bestow.com,Bestow is a Texas-based company that offers fa...,['Offers fast and affordable term life insuran...,"['Insurance', 'Technology', 'Healthcare', 'Fin...","{'sentimentScore': 90, 'cntPositive': 48, 'cnt...",[{'contentId': 'b633176d-6378-46d0-9b15-d2b611...,Bestow,8,5,Series C,2020-12-16,NaN,NaN,138.10,70.00,NaN,NaN

In [9]:
profiles_financials.drop('name_y', axis=1, inplace=True)
profiles_financials.rename(columns={'name_x':'name'}, inplace=True)
profiles_financials.head(2)

,name,tagline,website,summary,concepts,keywords,sentiment,articles,investor_count,funding_count,funding_last_type,funding_last_date,valuation_date,revenue_year,funding_total_numeric_millions,funding_last_numeric_millions,valuation_numeric_millions,revenue_total_numeric_millions
0,Valera Health,"Your Path to Wellness, Just a Click Away",https://valerahealth.com,"Valera Health, based in New York, is a mental ...",['Comprehensive mental healthcare services for...,"['Mental Health Care', 'Telemedicine', 'Health...","{'sentimentScore': 100, 'cntPositive': 15, 'cn...",[{'contentId': 'ab325015a7bbae7beefc4833b73696...,20,8,Series B - II,2024-04-09,NaN,NaN,76.32,9.12,NaN,NaN
1,Bestow,"Protecting Life, Simplified",https://bestow.com,Bestow is a Texas-based company that offers fa...,['Offers fast and affordable term life insuran...,"['Insurance', 'Technology', 'Healthcare', 'Fin...","{'sentimentScore': 90, 'cntPositive': 48, 'cnt...",[{'contentId': 'b633176d-6378-46d0-9b15-d2b611...,8,5,Series C,2020-12-16,NaN,NaN,138.10,70.00,NaN,NaN

In [19]:
profiles_financials.shape[0]

5551

### Next inner join (Profiles $\cap$ Financials) and Overviews

In [20]:
profiles_financials_overviews = pd.merge(profiles_financials, overviews, on='website', how='inner')
profiles_financials_overviews.head(2)

,name_x,tagline,website,summary,concepts,keywords,sentiment,articles,investor_count,funding_count,...,valuation_numeric_millions,revenue_total_numeric_millions,name_y,cb_description,year_founded,mosaic_change,city,region,country,postal
0,Valera Health,"Your Path to Wellness, Just a Click Away",https://valerahealth.com,"Valera Health, based in New York, is a mental ...",['Comprehensive mental healthcare services for...,"['Mental Health Care', 'Telemedicine', 'Health...","{'sentimentScore': 100, 'cntPositive': 15, 'cn...",[{'contentId': 'ab325015a7bbae7beefc4833b73696...,20,8,...,NaN,NaN,Valera Health,Valera Health operates as a tele-mental health...,2015.0,-117.0,Brooklyn,New York,United States,11249
1,Bestow,"Protecting Life, Simplified",https://bestow.com,Bestow is a Texas-based company that offers fa...,['Offers fast and affordable term life insuran...,"['Insurance', 'Technology', 'Healthcare', 'Fin...","{'sentimentScore': 90, 'cntPositive': 48, 'cnt...",[{'contentId': 'b633176d-6378-46d0-9b15-d2b611...,8,5,...,NaN,NaN,Bestow,Bestow operates as an insurance technology com...,2017.0,-119.0,Dallas,Texas,United States,75226

In [21]:
profiles_financials_overviews.drop('name_y', axis=1, inplace=True)
profiles_financials_overviews.rename(columns={'name_x':'name'}, inplace=True)
profiles_financials_overviews.head(2)

,name,tagline,website,summary,concepts,keywords,sentiment,articles,investor_count,funding_count,...,funding_last_numeric_millions,valuation_numeric_millions,revenue_total_numeric_millions,cb_description,year_founded,mosaic_change,city,region,country,postal
0,Valera Health,"Your Path to Wellness, Just a Click Away",https://valerahealth.com,"Valera Health, based in New York, is a mental ...",['Comprehensive mental healthcare services for...,"['Mental Health Care', 'Telemedicine', 'Health...","{'sentimentScore': 100, 'cntPositive': 15, 'cn...",[{'contentId': 'ab325015a7bbae7beefc4833b73696...,20,8,...,9.12,NaN,NaN,Valera Health operates as a tele-mental health...,2015.0,-117.0,Brooklyn,New York,United States,11249
1,Bestow,"Protecting Life, Simplified",https://bestow.com,Bestow is a Texas-based company that offers fa...,['Offers fast and affordable term life insuran...,"['Insurance', 'Technology', 'Healthcare', 'Fin...","{'sentimentScore': 90, 'cntPositive': 48, 'cnt...",[{'contentId': 'b633176d-6378-46d0-9b15-d2b611...,8,5,...,70.00,NaN,NaN,Bestow operates as an insurance technology com...,2017.0,-119.0,Dallas,Texas,United States,75226

In [22]:
profiles_financials_overviews.shape[0]

5573

In [23]:
profiles_financials_overviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5573 entries, 0 to 5572
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            5573 non-null   object
 1   tagline                         5573 non-null   object
 2   website                         5573 non-null   object
 3   summary                         5573 non-null   object
 4   concepts                        5573 non-null   object
 5   keywords                        5573 non-null   object
 6   sentiment                       5573 non-null   object
 7   articles                        5573 non-null   object
 8   investor_count                  5573 non-null   int64
 9   funding_count                   5573 non-null   int64
 10  funding_last_type               5573 non-null   object
 11  funding_last_date               5565 non-null   object
 12  valuation_date                  802 non-null    object
 13  revenue_year                    241 non-null    float64
 14  funding_total_numeric_millions  5573 non-null   float64
 15  funding_last_numeric_millions   5573 non-null   float64
 16  valuation_numeric_millions      802 non-null    float64
 17  revenue_total_numeric_millions  241 non-null    float64
 18  cb_description                  5573 non-null   object
 19  year_founded                    5516 non-null   float64
 20  mosaic_change                   5573 non-null   float64
 21  city                            5238 non-null   object
 22  region                          4150 non-null   object
 23  country                         5573 non-null   object
 24  postal                          5188 non-null   object
dtypes: float64(7), int64(2), object(16)
memory usage: 1.1+ MB

In [24]:
profiles_financials_overviews.isnull().sum()

name                                 0
tagline                              0
website                              0
summary                              0
concepts                             0
keywords                             0
sentiment                            0
articles                             0
investor_count                       0
funding_count                        0
funding_last_type                    0
funding_last_date                    8
valuation_date                    4771
revenue_year                      5332
funding_total_numeric_millions       0
funding_last_numeric_millions        0
valuation_numeric_millions        4771
revenue_total_numeric_millions    5332
cb_description                       0
year_founded                        57
mosaic_change                        0
city                               335
region                            1423
country                              0
postal                             385
dtype: int64

Lets drop the 8 rows missing `funding_last_date` and the 57 rows missing `year_founded`.

In [25]:
profiles_financials_overviews = profiles_financials_overviews.dropna(subset=['funding_last_date', 'year_founded'])
profiles_financials_overviews.isnull().sum()

name                                 0
tagline                              0
website                              0
summary                              0
concepts                             0
keywords                             0
sentiment                            0
articles                             0
investor_count                       0
funding_count                        0
funding_last_type                    0
funding_last_date                    0
valuation_date                    4707
revenue_year                      5268
funding_total_numeric_millions       0
funding_last_numeric_millions        0
valuation_numeric_millions        4707
revenue_total_numeric_millions    5268
cb_description                       0
year_founded                         0
mosaic_change                        0
city                               328
region                            1401
country                              0
postal                             369
dtype: int64

# Rename and rearrange columns

In [41]:
profiles_financials_overviews = profiles_financials_overviews.rename(columns={
    'cb_description': 'description',
    'valuation_numeric_millions': 'valuation_millions',
    'funding_total_numeric_millions': 'funding_total_millions',
    'funding_last_numeric_millions': 'last_funding_millions',
    'funding_last_type': 'last_funding_type',
    'funding_last_date': 'last_funding_date',
    'revenue_total_numeric_millions': 'revenue_total_millions',
    'postal': 'postal_code'
})

In [42]:
profiles_financials_overviews.head(1)

,name,tagline,website,summary,concepts,keywords,sentiment,articles,investor_count,funding_count,...,last_funding_millions,valuation_millions,revenue_total_millions,description,year_founded,mosaic_change,city,region,country,postal_code
0,Valera Health,"Your Path to Wellness, Just a Click Away",https://valerahealth.com,"Valera Health, based in New York, is a mental ...",['Comprehensive mental healthcare services for...,"['Mental Health Care', 'Telemedicine', 'Health...","{'sentimentScore': 100, 'cntPositive': 15, 'cn...",[{'contentId': 'ab325015a7bbae7beefc4833b73696...,20,8,...,9.12,NaN,NaN,Valera Health operates as a tele-mental health...,2015.0,-117.0,Brooklyn,New York,United States,11249

In [43]:
profiles_financials_overviews = profiles_financials_overviews[[
    # Info
    'name', 'tagline', 'summary', 'description',
    
    # Year founded
    'year_founded',

    # Website and location
    'website', 'city', 'region', 'country', 'postal_code',

    # Concepts and Keywords
    'concepts', 'keywords', 
    
    # Perception
    'investor_count', 'mosaic_change',
    
    # Financial
    'funding_total_millions', 'last_funding_millions', 'funding_count', 
    'last_funding_type', 'last_funding_date', 'valuation_millions', 'valuation_date',
    'revenue_total_millions', 'revenue_year',

    # Sentiment
    'sentiment', 'articles'
]]

In [44]:
profiles_financials_overviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5509 entries, 0 to 5572
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    5509 non-null   object
 1   tagline                 5509 non-null   object
 2   summary                 5509 non-null   object
 3   description             5509 non-null   object
 4   year_founded            5509 non-null   float64
 5   website                 5509 non-null   object
 6   city                    5181 non-null   object
 7   region                  4108 non-null   object
 8   country                 5509 non-null   object
 9   postal_code             5140 non-null   object
 10  concepts                5509 non-null   object
 11  keywords                5509 non-null   object
 12  investor_count          5509 non-null   int64
 13  mosaic_change           5509 non-null   float64
 14  funding_total_millions  5509 non-null   float64
 15  last_funding_millions   5509 non-null   float64
 16  funding_count           5509 non-null   int64
 17  last_funding_type       5509 non-null   object
 18  last_funding_date       5509 non-null   object
 19  valuation_millions      802 non-null    float64
 20  valuation_date          802 non-null    object
 21  revenue_total_millions  241 non-null    float64
 22  revenue_year            241 non-null    float64
 23  sentiment               5509 non-null   object
 24  articles                5509 non-null   object
dtypes: float64(7), int64(2), object(16)
memory usage: 1.1+ MB

# Splitting

We will have three tables:
1. A primary table called `primary.csv`
2. Rows from primary table with revenue information called `primary-with-revenue.csv`
3. Rows from primary table with valuation information called `primary-with-valuation.csv`

First, we will create 2:

In [45]:
primary_with_revenue = profiles_financials_overviews[profiles_financials_overviews['revenue_total_millions'].notnull()]
primary_with_revenue.head(2)

,name,tagline,summary,description,year_founded,website,city,region,country,postal_code,...,last_funding_millions,funding_count,last_funding_type,last_funding_date,valuation_millions,valuation_date,revenue_total_millions,revenue_year,sentiment,articles
9,Ant Group,"Innovating Finance, Simplifying Life","Ant Group, headquartered in Zhejiang, is a lea...",Ant Group focuses on the digital transformatio...,2004.0,https://antgroup.com,Hangzhou,Zhejiang,China,NaN,...,6500.0,12,Loan - II,2023-03-06,NaN,NaN,17150.00,2019.0,"{'sentimentScore': 63, 'cntPositive': 377, 'cn...",[{'contentId': '4a6e275f-274a-40fa-85da-43e4da...
26,Livspace,"Designing Spaces, Creating Smiles",Livspace is a leading interior design company ...,Livspace is a home interior design and renovat...,2014.0,https://livspace.com,Bangalore,NaN,India,560103,...,180.0,11,Series F,2022-02-08,NaN,NaN,11.29,2019.0,"{'sentimentScore': 88, 'cntPositive': 140, 'cn...",[{'contentId': '910dfe88-ab01-49af-ab6d-10f14f...

Drop valuation columns:

In [46]:
primary_with_revenue = primary_with_revenue.copy()

primary_with_revenue.drop(['valuation_millions', 'valuation_date'], axis=1, inplace=True)

In [47]:
primary_with_revenue.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241 entries, 9 to 5562
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    241 non-null    object
 1   tagline                 241 non-null    object
 2   summary                 241 non-null    object
 3   description             241 non-null    object
 4   year_founded            241 non-null    float64
 5   website                 241 non-null    object
 6   city                    226 non-null    object
 7   region                  191 non-null    object
 8   country                 241 non-null    object
 9   postal_code             237 non-null    object
 10  concepts                241 non-null    object
 11  keywords                241 non-null    object
 12  investor_count          241 non-null    int64
 13  mosaic_change           241 non-null    float64
 14  funding_total_millions  241 non-null    float64
 15  last_funding_millions   241 non-null    float64
 16  funding_count           241 non-null    int64
 17  last_funding_type       241 non-null    object
 18  last_funding_date       241 non-null    object
 19  revenue_total_millions  241 non-null    float64
 20  revenue_year            241 non-null    float64
 21  sentiment               241 non-null    object
 22  articles                241 non-null    object
dtypes: float64(6), int64(2), object(15)
memory usage: 45.2+ KB

Second, we will create 3:

In [48]:
primary_with_valuation = profiles_financials_overviews[profiles_financials_overviews['valuation_millions'].notnull()]
primary_with_valuation.head(2)

,name,tagline,summary,description,year_founded,website,city,region,country,postal_code,...,last_funding_millions,funding_count,last_funding_type,last_funding_date,valuation_millions,valuation_date,revenue_total_millions,revenue_year,sentiment,articles
2,PlainID,"Secure Your Identity, Empower Your Business",PlainID is a company based in Tel Aviv that sp...,PlainID is an Identity Security Posture Manage...,2014.0,https://plainid.com,Tel Aviv,NaN,Israel,6789139,...,75.00,5,Series C,2021-12-21,48.0,2020-12,NaN,NaN,"{'sentimentScore': 100, 'cntPositive': 21, 'cn...",[{'contentId': '29c3c127-069d-4be7-aaf6-3a89bb...
4,slice,"Experience Money, Mastered.",slice is a financial technology company based ...,Slice operates as a financial technology compa...,2016.0,https://sliceit.com,NaN,Assam,India,781028,...,7.77,21,Debt - VIII,2024-07-19,1800.0,2022-06,NaN,NaN,"{'sentimentScore': 89, 'cntPositive': 36, 'cnt...",[{'contentId': 'ce75fa10-6d0f-45d5-bf66-2532b8...

Drop valuation columns:

In [49]:
primary_with_valuation = primary_with_valuation.copy()

primary_with_valuation.drop(['revenue_total_millions', 'revenue_year'], axis=1, inplace=True)

In [50]:
primary_with_valuation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 802 entries, 2 to 5562
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    802 non-null    object
 1   tagline                 802 non-null    object
 2   summary                 802 non-null    object
 3   description             802 non-null    object
 4   year_founded            802 non-null    float64
 5   website                 802 non-null    object
 6   city                    746 non-null    object
 7   region                  617 non-null    object
 8   country                 802 non-null    object
 9   postal_code             770 non-null    object
 10  concepts                802 non-null    object
 11  keywords                802 non-null    object
 12  investor_count          802 non-null    int64
 13  mosaic_change           802 non-null    float64
 14  funding_total_millions  802 non-null    float64
 15  last_funding_millions   802 non-null    float64
 16  funding_count           802 non-null    int64
 17  last_funding_type       802 non-null    object
 18  last_funding_date       802 non-null    object
 19  valuation_millions      802 non-null    float64
 20  valuation_date          802 non-null    object
 21  sentiment               802 non-null    object
 22  articles                802 non-null    object
dtypes: float64(5), int64(2), object(16)
memory usage: 150.4+ KB

Finally, we will create 1:

Drop revenue and valuation columns:

In [51]:
primary = profiles_financials_overviews.copy()

primary.drop(['revenue_total_millions', 'revenue_year', 'valuation_millions', 'valuation_date'], axis=1, inplace=True)

In [52]:
primary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5509 entries, 0 to 5572
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    5509 non-null   object
 1   tagline                 5509 non-null   object
 2   summary                 5509 non-null   object
 3   description             5509 non-null   object
 4   year_founded            5509 non-null   float64
 5   website                 5509 non-null   object
 6   city                    5181 non-null   object
 7   region                  4108 non-null   object
 8   country                 5509 non-null   object
 9   postal_code             5140 non-null   object
 10  concepts                5509 non-null   object
 11  keywords                5509 non-null   object
 12  investor_count          5509 non-null   int64
 13  mosaic_change           5509 non-null   float64
 14  funding_total_millions  5509 non-null   float64
 15  last_funding_millions   5509 non-null   float64
 16  funding_count           5509 non-null   int64
 17  last_funding_type       5509 non-null   object
 18  last_funding_date       5509 non-null   object
 19  sentiment               5509 non-null   object
 20  articles                5509 non-null   object
dtypes: float64(4), int64(2), object(15)
memory usage: 946.9+ KB

# Writeout to clean-datasets/

In [54]:
len(primary)

5509

In [55]:
len(primary_with_revenue)

241

In [56]:
len(primary_with_valuation)

802

In [57]:
primary.to_csv('../clean-datasets/primary.csv', index=False)
primary_with_revenue.to_csv('../clean-datasets/primary-with-revenue.csv', index=False)
primary_with_valuation.to_csv('../clean-datasets/primary-with-valuation.csv', index=False)